*{
    margin: 0;
    padding: 0;
}

#main_container{
    width: 100%;
    background-color: white;
}

#parameter_form{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    margin-top:10px ;
    border-radius: 1rem;

}

#multiple_table_div {
    display: flex;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#main_table{
    margin-top: 20px;
}

#main_table table thead{
    background-color: #444791;
    color: white;
}

.table_body tr td{
    background-color: beige;
    font-size: 12px;
}

table.dataTable td > i {
    margin-left: 0.5em;
    opacity: 0.3;
    float: right;
    cursor: pointer;
}
